<h1>Login</h1>

  <form action="/sessions" method="POST">
    <br><label>E-Mail:</label><br>
    <input type="text" name="email" placeholder="E-Mail Here">
    <br><label>Password:</label><br>
    <input type="password" name="password" placeholder="Password Here">
    <button type="submit">Complete</button>
  </form>
